@mixin variantAfterBase {
    content: '';
    width: 100%;
    height: 1px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

@mixin imageBase {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
