.product {

    @media (min-width: 1025px) {
        display: flex;
    }

    &__media-wrapper {
        @media (min-width: 1025px) {
            width: 50%;
        }
    }
}

.product-gallery {
    .swiper {
        &-button-prev,
        &-button-next {
            width: 40px;
            height: 40px;
            background-color: rgba(29, 15, 7, 0.02);
            border-radius: 100%;
            display: none;

            @media (min-width: 1025px) {
                display: flex;
            }

            svg {
                width: auto;
                height: auto;
            }

            &:before,
            &:after {
                content: none;
            }
        }

        &-button-prev {
            left: 40px;

            svg {
                transform: rotate(180deg);
            }
        }

        &-button-next {
            right: 40px;
        }

        &-pagination {
            bottom: 24px;
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.2rem;
            color: var(--color-primary);


            @media (min-width: 1025px) {
                bottom: 40px;
            }
        }
    }

    &__media {
        padding-bottom: 133.334%;
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;
        background-color: rgba(29, 15, 7, 0.02);

        @media (min-width: 1025px) {
            padding-bottom: 100vh;
        }

        

        img {
            display: block;
            max-width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
}