.section-header {
  width: 100%;
  transition: background-color 0.3s ease;
}
.section-header.scrolled-past-header {
  background-color: #fff;
}
.section-header .header-wrapper {
  background-color: transparent;
}
.section-header .header {
  padding: 0 20px;
  height: 56px;
}
@media (min-width: 990px) {
  .section-header .header {
    padding: 0 25px;
    height: 68px;
  }
}
.section-header .header header-drawer {
  margin-left: 0;
}
.section-header .header__heading-link {
  padding: 0;
}
.section-header .header .list-menu__item {
  padding: 0 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-primary);
}
.section-header .header__heading-logo {
  max-width: 64px;
}
@media (min-width: 990px) {
  .section-header .header__heading-logo {
    max-width: 112px;
  }
}
.section-header .header__icons {
  padding: 0;
  gap: 32px;
}
.section-header .header__icon {
  width: 24px;
  height: 24px;
}
.section-header .header__icon .svg-wrapper {
  width: 24px;
  height: 24px;
}
.section-header .header__icon--wishlist, .section-header .header__icon--search {
  display: none;
}
@media (min-width: 990px) {
  .section-header .header__icon--wishlist, .section-header .header__icon--search {
    display: flex;
  }
}
.section-header .header__icon--cart {
  margin-right: 0;
}
